page-pagina-inicio {

    .contenido {
        background-image: url('../assets/imgs/background-SeDesvara.png');
    }

    .contenido img {
        max-width: 40%;
        position: absolute;
        left: 30%;
        top: 10%;
    }

    .boton{
        background-color: white;
        border: solid 1px #26668c;
        color: #ff5200;
        border-radius: 15px;
        position: absolute;
        left: 25%;
        width: 50%;
        height: 2.3em;
        font-size: 1.5em;
        margin-top: 1em;
    }

    .redes {
        position: absolute;
        margin-top: 6em;
        width: 45%;
        height: 55px;
        margin-left: 30%;
    }
    
    .redes img {
        width: 20%;
        position: relative;
        left: 0;
    }

}
